<div class="loader" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-toolbar class="toolbar">

  <span>{{ (tour$ | async)?.headline }}</span>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Floor</mat-label>
      <mat-select formControlName="floorId">
        <mat-option *ngFor="let floor of floors$ | async" [value]="floor.id">{{ getTagLabel(floor.tag) }}</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Rooms</mat-label>
      <mat-select formControlName="roomId">
        <mat-option *ngFor="let room of rooms$ | async" [value]="room.id">{{ getTagLabel(room.tag) }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

</mat-toolbar>

<app-panorama [room]="selectedRoom$ | async"></app-panorama>
